Source: magnum-plugins
Priority: optional
Maintainer: Vladimír Vondruš <mosra@centrum.cz>
Build-Depends: debhelper (>= 9), cmake (>= 2.8.12), magnum-dev, libdevil-dev, libjpeg-dev, libpng12-dev, libfreetype6-dev
Standards-Version: 3.9.2
Section: libs
Homepage: http://magnum.graphics
Vcs-Git: git://github.com/mosra/magnum-plugins.git
Vcs-Browser: https://github.com/mosra/magnum-plugins

Package: magnum-plugins-dev
Section: libdevel
Architecture: any
Depends: magnum-plugins (= ${binary:Version}), magnum-dev, libdevil-dev, libjpeg-dev, libpng12-dev, libfreetype6-dev, libassimp-dev
Description: Magnum Plugins development files
 Headers and tools needed for developing with Magnum Plugins.

Package: magnum-plugins
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, magnum, libdevil1c2, libjpeg8, libpng12-0, libfreetype6, libassimp3
Description: Plugins for Magnum OpenGL graphics engine
 Magnum is 2D/3D graphics engine written in C++11 and modern OpenGL. Its goal
 is to simplify low-level graphics development and interaction with OpenGL
 using recent C++11 features and to abstract away platform-specific issues.
